body{
    font-family: sans-serif;
}

ul{
    list-style-type: none;
    color: white;
}
li{
    margin-bottom: 20px;
    font-size: 12px;   
}
a{
    color: white;
    text-decoration: none;
}

ul li a:hover{
    text-decoration:underline;
}


footer div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
footer div{
    width: 220px;
    min-width: 200px;
}

@media (max-width: 768px) {
  .footer div {
    flex-direction: column;
    align-items: center;
  }

  .footer-box {
    width: 100%;
    text-align: center;
  }
}